{% block facebook_js_sdk %}
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1100151823443723',
                version    : 'v2.8',
                cookie     : true,
                xfbml      : false
            });
            FB.AppEvents.logPageView();
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}