<footer class="footer">
    <div class="container">
        <div class="text-center">
            <a href="https://discord.gg/HQream" target="_blank"><img class='icon' src="/discord-icon.jpg"/></a>
            <a href="https://www.facebook.com/Less-Real-181313971884031/" target="_blank"><img class='icon' src="/facebook-icon.png"/></a>
            {#<a href="https://discord.gg/HQream" target="_blank"><img class='icon' src="/github-icon.jpg"/></a>#}
            <br/>
            Brought to you by a community of anime quote lovers.
        </div>
    </div>
</footer>
