{% extends "AppBundle::base.html.twig" %}

{% block body %}
    <div class="nav-body-gap"></div>
    <div class="ui segment red padded ">
        <h2>This area is restricted for members only.</h2>
        <button class="ui blue button sign-in">Sign In</button>
        <button class="ui blue button sign-up">Sign Up</button>
    </div>
{% endblock %}