.user-profile-cover {
    height: 270px;
    overflow: none;
}

.user-profile-cover .cover-picture {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 270px;
    width: 100%;
    position: relative;
}

.user-profile-cover .cover-picture .cover-overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    background: #000;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    z-index: 2;
}