#show_crop_picture,
#show_crop_cover,
#show_crop_avatar {
    max-width: 300px;
    max-height: 300px;
}

#show_crop_cover,
#show_crop_avatar {
    margin-bottom: 20px;
}

#image_select_box {
    position: relative;
}

.relative {
    position: relative;
}

.file.input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

#change_cover_box img,
#change_avatar_box img {
    border: 2px solid transparent;
}

#change_cover_box:hover > img,
#change_avatar_box:hover > img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 2px solid #3064c2;
    cursor: pointer !important;
}

#cover_preview {
    vertical-align: middle;
}

/*
 * imgAreaSelect animated border style
 */

.imgareaselect-border1 {
    background: url(/themes/default/assets/images/border-anim-v.gif) repeat-y left top;
}

.imgareaselect-border2 {
    background: url(/themes/default/assets/images/border-anim-h.gif) repeat-x left top;
}

.imgareaselect-border3 {
    background: url(/themes/default/assets/images/border-anim-v.gif) repeat-y right top;
}

.imgareaselect-border4 {
    background: url(/themes/default/assets/images/border-anim-h.gif) repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}