{% block cover %}
    <div class="ui segment" id="image_select_box">
        <img src="#" id="show_crop_avatar" align="middle">
        <br/>
        <button id="modal_crop_avatar_submit" type="button" class="ui inverted green button">Crop</button>
        <button id="modal_crop_avatar_cancel" type="button" class="ui inverted red button">Cancel</button>
    </div>
{% endblock %}