#navigation {
    height: 54px;
    font-size: 14px;
    line-height: 54px;
    box-shadow: none;
    /*background: #3064c2;*/
    background-color: #254A71;
    font-family: 'Open Sans', sans-serif;
    border: none;
}

#logo {
    margin-top: -5px;
}

#navigation.scrolled {
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);

    /*background-color: rgba(48, 100, 194, 0.8);*/
    background-color: rgba(47, 54, 74, 0.8);
}

#navigation .item.core,
#navigation .item.core.active,
#navigation .item.core::before{
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
}

#navigation .item.core:hover {
    color: #5597CB;
}

#navigation .item.core.active {

}

#navigation a.core {
    color: #FFFFFF;
    font-weight: bold;
}

#navigation a:hover {
    background: none;
    border-bottom: 0px solid #FE9611;
}

#navigation_user_dropdown,
#navigation_notify_dropdown {
    color: white;
    outline: none;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}

#navigation_user_dropdown.active,
#navigation_user_dropdown:hover,
#navigation_notify_dropdown.active,
#navigation_notify_dropdown:hover {
    border-top: none;
    background-color: #EEEEEE;
    color: #46364A;
    border-color: #EEEEEE;
}

#navigation_user_dropdown .menu.transition.visible,
#navigation_notify_dropdown .menu.transition.visible {
    border: none;
}

#navigation_notify_dropdown .menu {
    width: 300px;
    margin-left: -230px;
}

#navigation_user_dropdown .trigger,
#navigation_notify_dropdown .trigger {
    margin-right: -4px;
}

#navigation_user_dropdown i {
    color: #ffffff;
}

#navigation_user_dropdown .item > i,
#navigation_notify_dropdown .item > i {
    color: #000000;
}

#navigation_user_dropdown .item:hover,
#navigation_user_dropdown .item:hover > i,
#navigation_notify_dropdown .item:hover,
#navigation_notify_dropdown .item:hover > i {
    border: none;
    background-color: #EEEEEE !important;
    color: #46364A !important;
}

#navigation_user_dropdown .item:first-child,
#navigation_notify_dropdown .item:first-child {
    border-radius: 3px 3px 0 0 !important;
}

#navigation_user_dropdown .item:last-child,
#navigation_notify_dropdown .item:last-child {
    border-radius: 0 0 3px 3px !important;
}

#navigation_user_dropdown .menu,
#navigation_notify_dropdown .menu {
    /*border-radius: 0 0 3px 3px !important;*/
    background-color: #254A71;
    border-radius: 3px !important;
    box-shadow: 0px 6px 12px rgba(0,0,0,.175);
}

.ui.menu .ui.dropdown .menu>.item,
.ui.menu .ui.dropdown .menu>.item>i {
    color: #fff !important;
}

.ui.pointing.dropdown>.menu:after {
    width: 0.7em;
    height: 0.7em;
    top: -0.3em;
    left: 85%;
    background-color: #254A71;
    border: 1px solid #254A71;
    border-bottom: none;
    border-right: none;
}

#navigation_notify_dropdown .trigger i.icon {
    font-size: 1.3em;
    margin-top: 3px;
}

#sign-in,
#sign-up {
    color: white;
    border-bottom: 3px solid transparent;
}
