{% extends "AppBundle::base.html.twig" %}

{% block body %}
    <div class="user-profile-cover">
        <div class="cover-picture" style="background-image: url('{{ app.user.currentCoverPath }}');">
            <div class="cover-overlay"></div>
            <div class="container padding-0">
                <div class="user-profile-cover-info">
                    <div class="ui small image circular"><img src="{{ app.user.currentAvatarPath }}"></div>
                    <div class="user-profile-cover-name">{{ app.user.username }}</div>
                </div>

                <div class="user-profile-cover-add-button">
                    <button class="ui primary icon button"><i class="add user icon"></i> Add Friend</button>
                </div>
            </div>
        </div>
    </div>
    <div class="ui waterfall segment padded border-radius-top-none" id="user_profile_box">
        <h2>Hello, {{ app.user.username }}!</h2>
    </div>
{% endblock %}