{% block finished_images %}
    {% for image in finishedImageUploads %}
        <div class="image thumbnail" data-image-id="{{ image.id }}">
            <img src="{{ domain }}/{{ image.path }}"/>
        </div>
    {% endfor %}
{% endblock %}
