{% extends "AppBundle::base.html.twig" %}

{% block title %} Images {% endblock %}

{% block body %}
    <div class="nav-body-gap"></div>
   {# <div class="ui violet segment">
        <img class="ui medium right floated image"
             src="http://orig07.deviantart.net/fbf6/f/2014/185/6/9/_render__6__anime_girl_by_eysaa_renders-d7p71m3.png"
             style="margin-right: -14px; margin-bottom: -14px;">
        <h1 class="ui violet header">Be inspired. Read a quote.</h1>
        <p>
            It's time to go!
        </p>
        <br class="clearfix">
    </div>#}

    <div class="images wrapper">
        {% for image in images %}
            {% include 'ImageBundle:Default:imageThumbnail.html.twig' %}
        {% endfor %}
    </div>

    <div class="ui raised very padded text segment">
        <h2 class="ui header">Dogs Roles with Humans</h2>
        <p>Hey there! Click here to upload an image <button class="ui primary button">upload</button>!</p>
        <p><a id="image-upload-open" href="{{ path('fr_upload_image') }}" class="ui secondary button">New Upload</a></p>
    </div>

    <div id="image-upload" class="ui large modal" style="height: 500px;"></div>
{% endblock %}