{% block unfinished_images %}
    {% for image in unfinishedImageUploads %}
        <div class="image thumbnail uploaded" data-image-id="{{ image.id }}">
            <div class="dimmer"></div>
            {#<div class="select">SELECT</div>#}
            <img src="{{ domain }}/{{ image.path }}"/>
        </div>
    {% endfor %}
{% endblock %}
