{% javascripts
    '@UserBundle/Resources/public/js/main.js'
    '@UserBundle/Resources/public/js/register.js'
%}
    <script type="text/javascript">
        loadJavascript('{{ asset_url }}');
    </script>
{% endjavascripts %}
{% block body %}
    <div class="ui centered bare form segment error">
        <div id="register_cover" class="image content"></div>

        <br>
        <div id="register_form_errors" class="ui negative message display none"></div>
        <button id="continue_with_facebook" class="ui left aligned fluid facebook large button">
            <i class="facebook icon"></i>
            Continue with Facebook<br>
            <small>We will never post without asking.</small>
        </button>
        <div class="ui horizontal divider">
            Or
        </div>
        {{ form_start(form, { 'attr': {'id': 'register_form', 'class': 'ui form margin-bottom-none'} }) }}
            <div class="field">
                <div class="ui icon input">
                    {{ form_widget(form.username, { 'id': 'register_username'} ) }}
                </div>
            </div>
            <div class="field">
                <div class="ui icon input">
                    {{ form_widget(form.email, { 'id': 'register_email'} ) }}
                </div>
            </div>
            <div class="field">
                <div class="ui icon input">
                    {{ form_widget(form.password, { 'id': 'register_password'} ) }}
                </div>
            </div>
            <div class="field margin-bottom-none">
                {{ form_widget(form.submit, { 'id': 'register_submit', 'label': 'Sign Up', 'attr': {'class': 'fluid ui default disabled button'} }) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
